# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Data artifacts
data/*
!data/raw/
data/raw/*
!data/raw/player_season_2015_2024.csv

# OS files
.DS_Store
