# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Data artifacts
data/

# OS files
.DS_Store
